<div class="container-md px-4 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div>
                <div class="card-body">
                    <h1 class="display-5 fw-bold text-body-emphasis mb-3">Технологии, которые вы видите в действии</h1>
                    <p class="fs-5 mb-4 text-secondary">
                        Практическое применение фреймворков
                    </p>
                    <p class="fs-5 mb-4">
                        Этот сайт является отличным примером использования Django для веб-разработки и PostgreSQL для
                        управления данными. Вы можете видеть, как Python и его фреймворки применяются в реальных
                        проектах, демонстрируя мощь и гибкость современных технологий.
                    </p>
                    <a href="#" class="btn-custom">Посмотреть на GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>