{% extends 'base.html' %}

{% block title %}PYDEV - О нас{% endblock %}

{% block content %}
<div class="container-md px-4 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-5 fw-bold text-body-emphasis mb-3">О нас</h1>
            <p class="fs-5 mb-4 text-secondary">
                Добро пожаловать на PYDEV, вашу всестороннюю платформу для изучения программирования на Python и многих
                других технологий!
            </p>
            <p class="fs-5 mb-4 text-secondary">
                PYDEV создан для того, чтобы предоставить качественные ресурсы для изучения самых актуальных технологий
                в области разработки программного обеспечения. На нашей платформе вы найдете обучающие материалы по
                Python, а также другим важным инструментам и технологиям, таким как Django, Django REST Framework (DRF),
                Nginx, Docker и SQL.
            </p>
            <p class="fs-5 mb-4 text-secondary">
                Мы используем современные технологии для создания нашего сайта: весь бэкэнд разработан на Python с
                использованием Django, что позволяет нам создавать масштабируемые и надежные веб-приложения. Вёрстка
                выполнена с помощью Bootstrap, что обеспечивает отзывчивость и приятный визуальный опыт на всех
                устройствах.
            </p>
            <p class="fs-5 mb-4 text-secondary">
                Наша цель - сделать обучение доступным и эффективным. Мы постоянно обновляем и расширяем наши ресурсы,
                чтобы вы могли оставаться в курсе последних тенденций и технологий в мире программирования.
            </p>
            <p class="fs-5 mb-4 text-secondary">
                Благодарим вас за посещение PYDEV. Мы надеемся, что наша платформа станет вашим надежным помощником в
                изучении и освоении новых технологий.
            </p>
        </div>
    </div>
</div>
{% endblock %}