{% extends 'base.html' %}

{% block title %}PYDEV - {{ lesson.name }}{% endblock %}

{% block content %}
<div class="container-md px-4 py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-5 fw-bold text-body-emphasis mb-3">{{ lesson.name }}</h1>
            <div class="custom-ul custom ol">
                {{ lesson.description|safe }}
            </div>
            <a href="{{ back_url }}" class="btn-custom-outline-secondary">
                Назад
            </a>
        </div>
    </div>
</div>
{% endblock %}
